# Ignore contents of directories
audios/*
audios all copy/
chats/*
chats_divided/*
transcriptions/*

# Keep the directories but ignore their contents
!audios/.gitkeep
!chats/.gitkeep
!chats_divided/.gitkeep
!transcriptions/.gitkeep
